body {
    font-family: 'Poppins';
}

.title {
    text-align: center;
}

.x1search-field {
    display: flex;
    flex-direction: column;
    margin: 15px; 
}

.x2search-fields {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}
